body{
    background-image: url("secondPageBackground.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height:100%;}
#v{
    color:white;
    font-size:40px;
    width:100%;
    margin:0px auto;
    text-align:center;
}
#maincontainer{
    background-color:khaki;
    color:black;
    font-size:40px;
    width:60%;
    height:auto;
    text-align:center;
    margin:0px auto;
    border-radius:34px;
}
#emojiriddle{
    background-color:khaki;
    color:black;
    font-size:40px;
    width:30%;
    height:auto;
    text-align:center;
    margin:45px auto;
    border-radius:34px;
}
#emojiriddle img{
    width:40%;
    height:10%;
    padding-top:12px;
}
#emojiriddle:hover{
    text-decoration:underline;
    color:black;
    background-image: url('emojichoicehover.jpg');
    color:rgb(0, 255, 0);
    padding:9px;
    border:13px groove rgb(241, 46, 46);
}
#slider p{
    color:white;
    widows: 100%;
    margin:23px auto;
    text-align:center;
    font-size:32px;
}
#slider{
    width:70%;
    height:auto;
    text-align:center;
    margin:0px auto;
} 

#intermediateriddle{
    background-color:khaki;
    color:black;
    font-size:40px;
    width:30%;
    height:auto;
    text-align:center;
    margin:45px auto;
    border-radius:34px;
}
#intermediateriddle img{
    width:50%;
    height:30%;
    padding-top:12px;
}
#intermediateriddle:hover{
    text-decoration:underline;
    color:black;
    background-image: url('riddlechoicehover.jpg');
    color:rgb(0, 255, 0);
    padding:9px;
    border:13px groove rgb(241, 46, 46);
}

/*hard css*/
#hardriddle{
    background-color:khaki;
    color:black;
    font-size:40px;
    width:30%;
    height:auto;
    text-align:center;
    margin:45px auto;
    border-radius:34px;
}
#hardriddle img{
    width:50%;
    height:30%;
    padding-top:21px;
}
#hardriddle:hover{
    text-decoration:underline;
    color:black;
    background-image: url('hardchoicehover.jpg');
    color:rgb(0, 255, 0);
    padding:9px;
    border:13px groove rgb(241, 46, 46);

}
