body{
    background-image: url("riddlechoicehover.jpg");
    
}
.main-box{
    background: linear-gradient(360deg,rgba(36,1,36,0.877),rgba(163,81,163,0.877));
    height: auto;
    width: 70%;
    margin: 90px auto;
    color: white;
    font: 30px;
    overflow-wrap:break-word ;
    text-align: center;
}
@keyframes name{
    0%{text-shadow: none;}
    10%{text-shadow: 12px 8px 10px rgb(0, 255, 55);}
    12%{text-shadow: none;}
    18%{text-shadow: 9px 8px 70px rgb(9, 255, 0);}
    20%{text-shadow: none;}
    28%{text-shadow: 10px 3px 82px rgb(0, 255, 13);}
    30%{text-shadow: none;}
    40%{text-shadow: 13px 3px 74px rgb(0, 255, 55);}
    60%{text-shadow: none;}
    67%{text-shadow: 12px 3px 82px rgb(0, 255, 64);}
    80%{text-shadow: none;}
    100%{text-shadow: 34px 3px 90px rgb(0, 255, 85);}
}



#heading{
    background-color: rgba(0,0,0,0.815);
    width: 70%;
    text-align: center;
    margin: 0px auto;
    color: rgb(255,104,104);
    animation:name 3s infinite ease-in;
    font-size: 60px;
    overflow-wrap:break-word ;
}
.quiz{
    font-size: 23;
    padding:3px;
}
.quiz img{
    padding-top:12px;
    height: 20%;
}
.sign{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 2px;
}
.que{
    font-size: 35px;
    font-weight: bold;
    padding-right: 2px;
    padding-top:23px ;
    padding-left: 2px;
}

#ans1{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans2{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans3{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans4{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans5{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans6{
    height: 55px;
    width: 288px;
    font-size:24px;
    margin: 10px 10px;
    font: orange;
}
#ans7{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans8{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans9{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans10{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans11{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans12{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans13{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans14{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
#ans15{
    height: 55px;
    width: 288px;
    font-size: 24px;
    margin: 10px 10px;
}
.rid{
    font-size: 40px;
}
.btn1{
    width: 120px;
    height: 40px;
    font-size: 25px;
    color: rgb(131, 8, 8);
    background-color: rgba(255, 255, 0, 0.5);
    
    
}
.btn2{
    width: 120px;
    height: 40px;
    font-size: 25px;
    color: rgb(131, 8, 8);
    background-color: rgba(255, 255, 0, 0.5);
}
#submit{
    width:30%;
    height:50px;
    border-radius: 12px 12px 12px 12px;
    margin:3em;
    border: 4px solid rgb(255, 0, 0);
    font-size:38px;
}
#submit:hover{
    background-color:green;
    color:white;
    cursor: grab;
}
#score{
    font-size:42px;
    font-weight: bold;
    text-decoration: double;
    margin-bottom: 10%;
    border:10px groove rgb(0, 119, 255);
    width:50%;
    margin:0px auto;
    
}
#finalwords{
    font-size:34px;
}
.inst{
    font-size:25px;
    
}
#newlink{
    font-size:29px;
    border:4px dotted rgb(91, 250, 250)
}
.levelswitch{
    
    color:white;
    font-size:23px;
    
}
.levelswitch:hover{
   color:rgba(10, 255, 92, 0.835)
}
.btn1:hover{
 cursor:grabbing;
 color:rgb(0, 255, 119);
 background-color: rgba(0, 0, 0, 0.692);
}
.btn2:hover{
    cursor: grabbing;
    color:rgb(0, 255, 119);
    background-color: rgba(0, 0, 0, 0.692);
   }